<div class="container" [hidden]="locationCompleted">
  <h2>Please enter locations: </h2>
  <form (ngSubmit)="onSubmit()" #locationForm="ngForm">
    <ng-template ngFor let-location="$implicit" [ngForOf]="locations" let-i="index">
      <div class="form-row">
        <h3>Location #{{i+1}}</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" required [(ngModel)]="locations[i].name" name="{{'locations_'+ i+ '_name'}}" class="form-control" id="name" placeholder="Location Name">
        </div>

        <div class="form-group col-md-6">
          <label for="weight">Package Weight</label>
          <input type="number" required [(ngModel)]="locations[i].packageWeight" name="{{'locations_'+ i+ '_packageWeight'}}" class="form-control" id="weight" placeholder="Package Weight">
        </div>
      </div>
    </ng-template>

    <div class="form-row">
      <button type="button" class="btn btn-info btn-sm" (click)="addLocation()">Add another location</button>
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!locationForm.form.valid">Done</button>
    </div>
  </form>
</div>
  
<div class="container" [hidden]="!locationCompleted">
  <div class="row">
    <h1>{{locations.length}} locations inserted.</h1>
  </div>
  <div class="row" *ngFor="let location of locations">
    <div class="col-sm">{{location.name}}, weight: {{location.packageWeight}}</div>
  </div>
</div>