
<div [hidden]="locations.length > 0" class="container">
  <div class="row">
    <p>
      Please enter drones(maximum 100) and location information in the following format:
    </p>
    <code>
        Line 1: [Drone #1 Name], [#1 Maximum Weight], [Drone #2 Name], [#2 Maximum Weight], etc.<br/>
        Line 2: [Location #1 Name], [Location #1 Package Weight]<br/>
        Etc.
    </code>
    <p>
      Exemple:
    </p>
    <code>
        Drone 1, 50, Drone 2, 20<br/>
        Location 1, 10<br/>
        Location 2, 1<br/>
        Location 3, 2<br/>
        Location 4, 30<br/>
        Location 5, 40<br/>
    </code>

    <p>Enter info here:</p>
    <textarea rows=10 cols=80 [(ngModel)]="textarea"></textarea>
  </div>
</div>

<div class="container" [hidden]="drones.length == 0">
  <div class="row">
    <h1>{{drones.length}} drones inserted.</h1>
  </div>
  <div class="container">
    <div class="row" *ngFor="let drone of drones">
      <div class="col-sm">{{drone.name}}, max-weight: {{drone.maxWeight}}</div>
    </div>
  </div>
</div>

<div class="container" [hidden]="locations.length == 0">
  <div class="row">
    <h1>{{locations.length}} locations inserted.</h1>
  </div>
  <div class="row" *ngFor="let location of locations">
    <div class="col-sm">{{location.name}}, weight: {{location.packageWeight}}</div>
  </div>
</div>

<div [hidden]="locations.length > 0" class="container">
  <div class="row">
    <button (click)="parseTextarea()" class="btn btn-primary btn-sm">Parse textarea</button>
  </div>
</div>