<div class="container" [hidden]="droneCompleted">
  <h2>Please enter maximum of 100 drones: </h2>
  <form (ngSubmit)="onSubmit()" #droneForm="ngForm">
    <ng-template ngFor let-drone="$implicit" [ngForOf]="drones" let-i="index">
      <div class="form-row">
        <h3>Drone #{{i+1}}</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" required [(ngModel)]="drones[i].name" name="{{'drones_'+ i+ '_name'}}" class="form-control" id="name" placeholder="Drone Name">
        </div>

        <div class="form-group col-md-6">
          <label for="weight">Max Weight</label>
          <input type="number" required [(ngModel)]="drones[i].maxWeight" name="{{'drones_'+ i+ '_maxWeight'}}" class="form-control" id="weight" placeholder="Max Weight">
        </div>
      </div>
    </ng-template>

    <div class="form-row">
      <button type="button" class="btn btn-info btn-sm" (click)="addDrone()" [disabled]="drones.length == 100">Add another drone</button>
      <button type="submit" class="btn btn-primary btn-sm right" [disabled]="!droneForm.form.valid">Add Locations</button>
    </div>
  </form>
</div>

<div class="container" [hidden]="!droneCompleted">
  <div class="row">
    <h1>{{drones.length}} drones inserted.</h1>
  </div>
  <div class="container">
    <div class="row" *ngFor="let drone of drones">
      <div class="col-sm">{{drone.name}}, max-weight: {{drone.maxWeight}}</div>
    </div>
  </div>
</div>
<app-location-form [hidden]="!droneCompleted"></app-location-form>
