<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
  <a href="/">
    <img width="200" alt="Angular Logo" src="../assets/drone.jpg"/>
  </a>
</div>

<div class="container">
  <div class="row">    
    <div class="left">
      <a href="/" class="btn btn-primary active" role="button" aria-pressed="true">Form View</a>
    </div>
    <div class="left">
      <a href="/text-area" class="btn btn-primary active" role="button" aria-pressed="true">Textarea View</a>
    </div>
    <div class="left" [hidden]="!canCalculateTrips()">
      <button (click)="calculateTrips()" class="btn btn-success">Calculate trips</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container" [hidden]="!dronesCb">
  <div class="row">
    <h1>Results:</h1>
  </div>
  <div class="row" *ngFor="let drone of dronesCb | async">
    <div class="col-sm">
      <h3>{{drone.name}}, max-weight={{drone.maxWeight}}</h3>
    </div>
    <div class="container">
      <div class="row" *ngFor="let loc of drone.locations; index as i;">
        <div class="col-sm">
          <b>Trip #{{i+1}}</b>
        </div>
        <div class="container">
          <div class="row" *ngFor="let locat of loc">
            <div class="col-sm">{{locat.name}}, weight = {{locat.packageWeight}}</div>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>